body {
	font-family: 'Montserrat';
	margin: 0;
}

.row_1200 {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.row_1600 {
	padding: 0 15px;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt40 {
	margin-top: 40px;
}
.mt45 {
	margin-top: 45px;
}
.mt50 {
	margin-top: 50px;
}
.mt55 {
	margin-top: 55px;
}
.mt60 {
	margin-top: 60px;
}
.mt65 {
	margin-top: 65px;
}
.mt70 {
	margin-top: 70px;
}
.mt75 {
	margin-top: 75px;
}
.mt80 {
	margin-top: 80px;
}
.mt85 {
	margin-top: 85px;
}
.mt90 {
	margin-top: 90px;
}
.mt95 {
	margin-top: 95px;
}
.mt100 {
	margin-top: 100px;
}
.mt180 {
	margin-top: 180px;
}
.ml10 {
	margin-left: 10px;
}

header {
	position: fixed;
	top: 0;
	z-index: 35;
	background: #28292e;
	height: 122px;
	display: flex;
	width: 100%;
	box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
}

.header_logo {
	cursor: pointer;
	width: 118px;
}

.nav {
	display: flex;
	padding: 0;
	justify-content: space-between;
}
.nav li {
	list-style: none;
}

.nav_item {
	text-decoration: none;
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	position: relative;
	transition: 0.3s;
}
.nav_item::before {
	position: absolute;
	content: '';
	left: 50%;
	transform: translateX(-50%);
	bottom: -41px;
	width: 0;
	height: 2px;
	background: #facd88;
	transition: 0.3s;
}
.nav_item:hover {
	color: #facd88;
}
.nav_item:hover::before {
	width: 100%;
}

.header_phone_item {
	display: block;
	text-decoration: none;
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.header_request {
	display: block;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	transition: 0.3s;
	text-align: center;
}
.header_request:hover {
	color: #facd88;
}

.mob-nav {
	margin-top: 40px;
	list-style: none;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mob-nav_item {
	margin-top: 40px;
	line-height: 50px;
	font-weight: 600;
	color: #ba8d55;
	font-size: 20px;
	text-decoration: none;
	transition: 0.3s;
}
.mob-nav_item:focus {opacity: 0.5;}

.menu-mobile,
.burger{
	cursor: pointer;
	display: none;
}
.burger img{
	width: 40px;
	height: 40px;
}

main {
	margin-top: 100px;
}

.banner {
	background: url(../img/banner_background.png) no-repeat;
	background-position: left;
	background-size: auto 655px;
	display: flex;
}

.banner_girl {
	height: 646px;
}

.banner_text {
	z-index: 10;
	display: block;
}
.quote {
	width: 80%;
	font-weight: 300;
	font-size: 48px;
	line-height: 59px;
	color: #fff;
}

.quote_author {
	font-weight: 100;
	font-size: 24px;
	line-height: 29px;
	color: #fff;
	opacity: 0.6;
}

.service_title {
	display: flex;
	text-align: center;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	color: #ba8d55;
}

.service_block {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.service_item1,
.service_item2,
.service_item3,
.service_item4 {
	background-size: 470px 237px;
	width: 470px;
	height: 237px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
}

.service_item1 {
	background: url(../img/service1.png) no-repeat;
}
.service_item2 {
	background: url(../img/service2.png) no-repeat;
}
.service_item3 {
	background: url(../img/service3.png) no-repeat;
}
.service_item4 {
	background: url(../img/service4.png) no-repeat;
}

.service_item1:hover,
.service_item2:hover,
.service_item3:hover,
.service_item4:hover {
	transform: translateY(-2%);
	filter: drop-shadow(1px 3px 20px rgba(0, 0, 0, 0.4));
}

.service_item_text {
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
	color: #fff;
}

footer {
	background: #28292e;
	margin-top: 125px;
	padding: 60px;
}

.footer_container {
	display: flex;
	align-items: center;
}

.footer_logo {
	width: 105px;
	cursor: pointer;
}
.footer_logo img {
	width: 100px;
}

.footer_info {
	margin-left: 50px;
	max-width: 1095px;
}

.footer_nav {
	width: 100%;
	display: flex;
	padding: 0;
	justify-content: space-evenly;
}

.footer_info ul {
	margin: 0;
}

.footer_nav li {
	list-style: none;
}

.footer_nav_item {
	text-decoration: none;
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	position: relative;
	transition: 0.3s;
}
.footer_nav_item::before {
	position: absolute;
	content: '';
	left: 50%;
	transform: translateX(-50%);
	top: -10px;
	width: 0;
	height: 2px;
	background: #facd88;
	transition: 0.3s;
}
.footer_nav_item:hover {
	color: #facd88;
}
.footer_nav_item:hover::before {
	width: 100%;
}

.footer_contact {
	display: flex;
	justify-content: space-evenly;
}

.small_svg {
	display: none;
}

.footer_contact_item path {
	transition: 0.1s;
	fill: #fff;
}

.footer_contact_item {
	display: flex;
	cursor: pointer;
}

.contact_item_icon path {
	transition: 0.3s;
}

.contact_item_icon svg {
	width: 25px;
	height: 20px;
}

.contact_item_text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	transition: 0.3s;
}

.contact_item_text:hover,
.footer_contact_item:hover,
.footer_contact_item:hover path {
	fill: #facd88;
	color: #facd88;
}

.footer_policy {
	margin-top: 45px;
	width: 100%;
	text-align: center;
}

.footer_policy,
.footer_policy a {
	font-weight: 200;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
}
.footer_policy a {
	transition: 0.3s;
}
.footer_policy a:hover {
	color: #facd88;
}

.conf-policy {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1100;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 70%);

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.conf-policy-visible {
	display: flex;
}

.conf-main {
	background: #fff;
	width: 80%;
	height: 80%;
	position: relative;
	padding-bottom: 30px;
	border-radius: 5px;
}

.conf-close {
	z-index: 1200;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	padding: 10px;
}

.conf-close path {
	fill: #ba8d55;
	transition: 0.3s;
}

.conf-close:hover,
.conf-close:hover path {
	fill: #facd88;
}

.conf-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-y: auto;
	height: 94%;
	padding:30px 45px 0 30px;
	margin-top: 12px;
}

.conf-block-h2 {
	font-size: 26px;
	font-weight: 600;
	color: #28292e;
}

.conf-block p {
	font-size: 16px;
	color: #28292e;
}

.conf-block a {
	color: #28292e;
	transition: 0.3s;
}

.conf-block a:hover {
	color: #facd88;
}